# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [3]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [4]:
df

In [5]:
df_final

In [6]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [7]:
df_final[0, 0]

In [10]:
df_final['states']

KeyError: 'states'

In [11]:
import numpy as np

In [ ]:
np.count_nonzero

In [12]:
np.repeat(5, 10)

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

In [13]:
df_final['foo'] = 5

In [14]:
df_final

In [15]:
df_final['foo2'] = 'asdfsadf'

In [16]:
df_final

In [17]:
df_final._data

{'name': array(['Penelope', 'Niko', 'Eleni'], dtype=object),
 'state': array(['Texas', 'California', 'Texas'], dtype=object),
 'height': array([3.6, 3.5, 5.2]),
 'school': array([ True, False,  True]),
 'weight': array([ 45,  40, 130]),
 'foo': array([5, 5, 5]),
 'foo2': array(['asdfsadf', 'asdfsadf', 'asdfsadf'], dtype=object)}

In [20]:
np.count_nonzero(np.isnan(np.array([1])))

0

In [26]:
df1 = pdcf.DataFrame({'state': np.array(['texas', 'texas', 'texas', 'florida', 'florida', 'florida', 'florida', 'ca']),
                    'fruit': np.array(['a', 'a', 'o', 'o', 'b', 'b', 'c', 'a'])})

In [27]:
df1

In [29]:
df1.value_counts()[0]

In [80]:
getattr(np, 'max')

In [83]:
def f(func, **kwargs):
    a = np.random.rand(5)
    return func(a, **kwargs)

In [84]:
f(np.clip, lower=.2, upper=.9)

TypeError: clip() got an unexpected keyword argument 'lower'

In [85]:
a = np.arange(5)

In [87]:
a[3] = np.nan

ValueError: cannot convert float NaN to integer