# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [48]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [4]:
df

In [5]:
df_final

In [6]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [7]:
ls data

employee.csv

In [7]:
emp = pdcf.read_csv('data/employee.csv')

In [49]:
emp.head(10)

In [52]:
emp.pivot_table(rows='race', columns='gender', values='salary', aggfunc='mean')

In [55]:
emp.pivot_table(rows='race', columns='gender', values='salary')

ValueError: You must provide `aggfunc` when `values` is provided.

In [61]:
a8 = np.array(['b', 'a', 'a', 'a', 'b', 'a', 'a', 'b'])
b8 = np.array(['B', 'A', 'A', 'A', 'B', 'B', 'B', 'A'])
c8 = np.array([1, 2, 3, 4, 5, 6, 7, 8])
df8 = pdcf.DataFrame({'a': a8, 'b': b8, 'c': c8})
df1 = pd.DataFrame({'a': a8, 'b': b8, 'c': c8})
df8

In [62]:
df1.pivot_table(index='a', values='c', aggfunc='sum')

    c
a
a  22
b  14

In [58]:
df8.pivot_table(rows='a')

In [59]:
df8.pivot_table(rows='a', values='c', aggfunc='sum')

In [9]:
emp2 = emp.sample(n=10 **5, replace=True)

In [21]:
%timeit -n 5 emp2.pivot_table(rows='race', columns='dept', values='salary', aggfunc='mean')

146 ms ± 2.31 ms per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [20]:
%timeit -n 5 emp2.pivot_table2(rows='race', columns='dept', values='salary', aggfunc='mean')

49.5 ms ± 2.26 ms per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [22]:
a = np.random.rand(10 ** 5)

In [23]:
b = a.tolist()

In [27]:
%timeit -n 5 np.mean(a)

57.9 µs ± 10.8 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [28]:
%timeit -n 5 np.mean(np.array(b))

2.87 ms ± 287 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [43]:
a = np.random.randint(1000, size=10 ** 5)

In [44]:
from collections import defaultdict

In [45]:
%%timeit -n 5 
d = defaultdict(list)
for val in a:
    d[val].append(val)
    
final = {}
for k, v in d.items():
    final[k] = np.mean(v)

46.6 ms ± 1.58 ms per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [47]:
%%timeit -n 5
uniques = np.unique(a)
for val in uniques:
    np.mean(a[a == val])

70.5 ms ± 2.08 ms per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [35]:
final

{4: 4.0,
 3: 3.0,
 2: 2.0,
 7: 7.0,
 8: 8.0,
 1: 1.0,
 5: 5.0,
 9: 9.0,
 6: 6.0,
 0: 0.0}

In [12]:
s = {1, 2}a

In [13]:
sorted(s)

[1, 2]

In [19]:
a._data

{'mean': array([50000., 52000., 64000., 61000., 64000.])}

In [14]:
from numpy import array

In [15]:
d = {'race': array(['Black', 'Hispanic', 'White', 'Asian', 'Native American'],
      dtype='<U15'), 'mean': array([50436.4075003 , 52353.28193585, 63735.85393385, 60579.32590141,
       64108.1611479 ])}

In [16]:
pdcf.DataFrame(d)

In [32]:
%timeit -n 5 emp2.pivot_table2(columns='race', values='salary', aggfunc='mean')

98.2 ms ± 1.6 ms per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [25]:
%timeit -n 5 emp2.pivot_table(columns='race', values='salary', aggfunc='mean')

72.2 ms ± 406 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [28]:
a = np.random.rand(10, 2)

In [30]:
for j, k in a:
    print(j, k)

0.9185147430413302 0.7727090217514645
0.27894506159087495 0.23475291503416063
0.671247911487484 0.5090228814120233
0.8615409874635361 0.958591828047782
0.24836712311414444 0.5787853665703452
0.12683921687135813 0.8341079001005561
0.050629503065840464 0.9536484929405744
0.14682230037660093 0.43714076677384117
0.31606450891942384 0.33458736900256825
0.5190378299856843 0.6056360342368033

In [39]:
%timeit -n 5 
emp2.pivot_table2(rows='race', columns='dept', values='salary', aggfunc='mean')

StopIteration:

In [38]:
%timeit -n 5 emp2.pivot_table(rows='race', columns='dept', values='salary', aggfunc='mean')

145 ms ± 1.15 ms per loop (mean ± std. dev. of 7 runs, 5 loops each)