# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import os
os.chdir()

In [7]:
%load_ext autoreload
%autoreload 2

In [8]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [22]:
a = np.array(['a', 'b', 'c'])
b = np.array(['c', 'd', None])
c = np.random.rand(3)
d = np.array([True, False, True])
e = np.array([1, 2, 3])

df = pdc.DataFrame({'a': a, 'b': b, 'c': c, 'd': d, 'e': e})


df_final = pdcf.DataFrame({'a': a, 'b': b, 'c': c, 'd': d, 'e': e})
df_pandas = pd.DataFrame({'a': a, 'b': b, 'c': c, 'd': d, 'e': e})

In [45]:
df['a']

In [ ]:
df + 5

In [42]:
df.dtypes

In [43]:
df_pandas['a']

0    a
1    b
2    c
Name: a, dtype: object

In [44]:
df_pandas.__getitem__('a')

0    a
1    b
2    c
Name: a, dtype: object

In [31]:
len(list(df._values.values())[0])

3

In [35]:
df._values

{'a': array(['a', 'b', 'c'], dtype=object),
 'b': array(['c', 'd', None], dtype=object),
 'c': array([0.2862601 , 0.63154426, 0.29037438]),
 'd': array([ True, False,  True]),
 'e': array([1, 2, 3])}

In [33]:
df_final.columns

['a', 'b', 'c', 'd', 'e']

In [25]:
len(df)

3

In [15]:
len(df_pandas)

3

In [12]:
df._values

{'a': array(['a', 'b', 'c'], dtype=object),
 'b': array(['c', 'd', None], dtype=object),
 'c': array([0.66357858, 0.0144597 , 0.49186636]),
 'd': array([ True, False,  True]),
 'e': array([1, 2, 3])}

In [13]:
df._column_info

{'a': 'O', 'b': 'O', 'c': 'f', 'd': 'b', 'e': 'i'}

In [6]:
df_final

In [7]:
df_pandas

   a     b         c      d  e
0  a     c  0.653778   True  1
1  b     d  0.316421  False  2
2  c  None  0.249480   True  3

In [8]:
str.__getitem__('odsc west', slice(None, 6, 2))

'os '